@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply rounded-lg border-[1px] border-gray-300 px-3 py-1 text-sm autofill:bg-white focus:outline-none focus:ring focus:ring-gray-500 focus:ring-offset-1 sm:text-base dark:border-gray-500 dark:bg-gray-700 dark:text-gray-300 dark:autofill:bg-gray-700;
  }
}
:root.dark {
  --color: theme(colors.gray.300);
  --bg-color: theme(colors.gray.700);
  --loader-color: theme(colors.white);
}
:root {
  --color: theme(colors.gray.700);
  --bg-color: theme(colors.white);
  --loader-color: theme(colors.black);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  color: var(--color) !important;
  -webkit-text-fill-color: var(--color) !important;
  -webkit-box-shadow: 0 0 0 1000px var(--bg-color) inset !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
}

.bigLoader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}

.loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.bigLoader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid var(--loader-color);
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

button {
  cursor: pointer;
}
a {
  display: inline-block;
  width: 100%;
}
